# Python virtuelle Umgebung
venv/
env/
.env/

# Python Cache-Dateien
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDE-spezifische Dateien
.idea/
.vscode/
*.swp
*.swo

# Lokale Konfigurationsdateien
gui_settings.json

# Temporäre Dateien
*.tmp
*.temp
*.log
log/

# Ausgabedateien
*.mp3
*.wav
*.txt
!requirements.txt

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db
